* {
    /* Apply to the whole page */
    margin: 0;
    padding: 0;
    background-color: #a3be98;
}

#nav-bar-fullscreen {
    /* Separate nav tag for everything to be semantic :) */
    background-color: rgba(64, 88, 224, 0.626);
    width: 100%;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* bottom: auto; */
}

#nav-bar-fullscreen ul {
    /* Style the whole nav bar */
    background-color: rgba(225, 16, 221, 0.409);
    margin: 0 15% 0 15%;
}

#nav-bar-fullscreen ul li {
    /* Style a button */
    list-style: none; /* Remove bullet point */
    display: inline-block; /*  Could use grid or flexbox for example */
    flex-flow: row nowrap;
    min-width: 120px;
    background-color: rgba(182, 24, 24, 0.402);

    line-height: 60px;
    column-width: 140px;
    border-right: 3px solid #1e1e1e;
}

#nav-bar-fullscreen ul li:hover {
    background-color: rgba(0, 30, 255, 0.204);
}

#nav-bar-fullscreen ul li a {
    /* Style the text */
    display: flex;
    text-decoration: none; /* Removes link underline */
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    color: #1e1e1e;
    background-color: rgba(211, 183, 25, 0.116);
    justify-content: center;
}

#nav-bar-fullscreen ul li a:hover {
    /* Style the text when hovering over */
    background-color: rgb(144, 27, 173);
    color: #d55a138f;
}

.wrapper {
    margin: 60px 15% 0 15%;
}

h1 {
    display: flex;
    justify-content: flex-start;
    flex-flow: row nowrap;
    padding: 1%;
    background-color: aquamarine;
}

p {
    font-size: 2em;
}
