body {
  background-color: rgba(74, 94, 100, 0.471);
}

h1 {
    font: 
}

#top-section {
    background-image: url("./header-pexels-258149.jpg");
    background-position: center;
    background-size: cover;
}
header {
    font-style: ;
}

#bottom-section {
    background-image: url("./main-pexels-5273860.jpeg");
    background-position: center;
    background-size: cover;
}

main {
}

footer {
}
