* {
    /* Apply to the whole page */
    margin: 0;
    padding: 0;
    background-color: #a3be98;
}

#nav-bar-fullscreen {
    /* Separate nav tag for everything to be semantic :) */
    background-color: rgb(64, 88, 224);
}

#nav-bar-fullscreen ul {
    /* Style the whole nav bar */
    background-color: rgb(225, 16, 221);
    margin-left: 5%
}

#nav-bar-fullscreen ul li {
    /* Style a button */
    list-style: none; /* Remove bullet point */
    display: inline-block; /*  Could use grid or flexbox for example */
    flex-flow: row nowrap;
    min-width: 120px;

    line-height: 60px;
    column-width: 140px;
    border-right: 3px solid #1e1e1e;
}

#nav-bar-fullscreen ul li:hover {
    background-color: rgb(0, 255, 0);
}

#nav-bar-fullscreen ul li a {
    /* Style the text */
    display: flex;
    text-decoration: none; /* Removes link underline */
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    color: #1e1e1e;
    background-color: aqua;
    justify-content: center;
}

#nav-bar-fullscreen ul li a:hover {
    /* Style the text when hovering over */
    background-color: rgba(59, 180, 59, 0.822);
    color: #005bf7;
}

.wrapper {
    margin: 0 15% 0 15%;
}

h1 {
    display: flex;
    justify-content: flex-start;
    flex-flow: row nowrap;
    padding: 1%;
    background-color: aquamarine;
}
