:root {
  /* Root applies to all classes in css */
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;

  /* -- defines a variable in css. If defined in root, it's available to every class */
  /* These variables can always be overwritten locally in child classes if required! */
  --body-text: black;
  --body-bg: white;
  --transition-speed: 200ms;

  --nav-text-primary: #b6b6b6;
  --nav-text-secondary: #ececec;
  --nav-bg-primary: #23232e;
  --nav-bg-secondary: #141418;
}

body {
  color: var(--body-text); /* Using the body-text variable */
  background-color: var(--body-bg);
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  /* Adjust the scroll bar */
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  /* Adjust the track that is behind the thumb */
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  /* Adjust the scroll bar thumb (the bit you interact with) */
  background: #6649b8;
}

.navbar {
  background-color: var(--nav-bg-primary);
  width: 10%;
  height: 100vh;
  position: fixed;
  z-index: 1;
  top: 0;
  transition: width var(--transition-speed) ease; /* Slows the transition of width set by :hover to 200ms */
}

.navbar:hover {
  width: 30%;
}

.navbar:hover ul li {
  transform: rotate(360deg);
  transition: transform calc(var(--transition-speed)*2);
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.navbar ul:hover {
  color: var(--nav-bg-secondary);

}

.navbar ul a:last-child {
  margin-top: auto;
}

.navbar ul a {
  align-items: center;
  height: 3rem;
  color: var(--nav-text-primary);
  text-decoration: none;
}

.navbar ul a:hover {
  color: var(--nav-text-secondary);
}

.navbar ul li {
  align-items: center;
  padding: 20px;
  transform: rotate(0);
  transition: transform calc(var(--transition-speed)*2);
}

main {
  /* Set margin on left to avoid content */
  /* rem is a relative font size to the root definition (defined at the top!) */
  /* 5 rem = 5 x 16 (defined in :root) = 80 px */
  /* rem changed to % - easier to conceptualise. Also if you change font size, everthing would change! */
  margin: 10% 5% 5% 0%;
}

h1 {
  margin: 0 0 0 5%;
  top: 0;
  position: fixed;
  background-color: rgb(224, 12, 12);
  padding: 2.5% 100% 2.5% 10%;
  text-wrap: nowrap;
}

article {
  margin: 15% 5% 5% 15%;
}
