/* Proposed order for CSS lines: */
/* display, z-index: */
/* position:, top:, right:, bottom:, left: */
/* width:, height: */
/* margin:, padding: */
/* color:, font: */
/* background: */
/* border:, border:radius: */

:root {
  --nav-height: 90px; /* Mobile + Tablet only */

  --light-bg: #ffffff;
  --light-secondary-bg: #f4f6fa;
  --dark-bg: #1f2524;
  --dark-secondary-bg: #252b2a;
  --nav-bg: #3b334c;
  --nav-secondary-bg: #4c425c;
}

* {
  margin: 0;
  padding: 0;

  color-scheme: light dark;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  z-index: 1;
  position: fixed;

  background-color: var(--nav-bg);
}

/* Proposed order for CSS lines: */
/* display, z-index: */
/* position:, top:, right:, bottom:, left: */
/* width:, height: */
/* margin:, padding: */
/* color:, font: */
/* background: */
/* border:, border:radius: */

nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li svg {
  width: 62px;
  height: 62px;

  --nav-svg-margin: calc((var(--nav-height) - 64px) / 2);
  margin: var(--nav-svg-margin) 0 var(--nav-svg-margin) var(--nav-svg-margin);

  fill: lime;
  fill-rule: evenodd;
  stroke: purple;
  stroke-width: 3;
}

main {
  width: 90%;

  margin: 0 auto;
}

@media (max-width: 475px) {
  nav {
    top: 0;

    width: 100%;
    height: var(--nav-height);
  }

  nav ul a {
    display: none;
  }

  main {
    margin-top: var(--nav-height);
  }
}
